<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.evaluation">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="m">

        <activity
            android:name="com.evaluation.launcher.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.evaluation.language.LanguageActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:noHistory="true" />

        <activity
            android:name="com.evaluation.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:noHistory="true" />

    </application>

</manifest>